.movies-page {
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-page h1 {
  margin-bottom: 10px;
}

.movies-page input {
  width: 600px;
  height: 50px;
  border-radius: 20px;
  background: #2b1a10;
  border: 2px solid #a07343;
  color: #ffe6c9;
  font-size: 24px;
  outline: none;
  transition: 0.25s;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  padding-left: 20px;
  padding-right: 20px;
}

.s-movies {
  width: 80%;
  min-height: 300px;
  height: auto;
  background-color: black;
  margin-top: 140px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  border: 3px solid #2b1a10;
  padding-bottom: 40px;
}

.movie-card {
  width: 200px;
  background-color: #1a1a1a;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.movie-card img {
  width: 100%;
  min-height: 220px;
  max-height: 220px;
}

.movie-info {
  padding: 10px;
  text-align: center;
}

.movie-info h3 {
  margin-top: auto;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  height: 48px;
}

.mov-desc {
  margin: 30px 0;
  p {
    font-size: 14px;
    color: #ccc;
  }
}

.movie-info a {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: #ffa500;
  font-weight: bold;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}
