@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap');

header {
  width: 100%;
  padding: 18px 45px;
  background: linear-gradient(90deg, #23150a, #3a2414);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border-bottom: 3px solid #ffd700;
  font-family: 'Rubik', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
}

header img {
  height: 75px; 
  filter: drop-shadow(0 0 6px rgba(255, 200, 100, 0.4));
  transition: 0.3s;
}

header img:hover {
  transform: scale(1.09);
  filter: drop-shadow(0 0 12px rgba(255, 220, 120, 0.9));
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  text-decoration: none;
}

nav p {
  font-size: 22px;
  font-weight: 600;
  color: #d7bd8a;
  transition: 0.25s ease;
  letter-spacing: 0.5px;
  text-shadow: 0 0 6px rgba(0,0,0,0.9);
}

nav p:hover {
  color: #ffcc66;
  text-shadow: 0 0 10px rgba(255, 200, 100, 0.9);
  transform: scale(1.12);
}

nav .active p {
  color: #ff3c3c;
  text-shadow: 0 0 15px rgba(255, 60, 60, 1);
}

header button {
  padding: 10px 25px;
  font-size: 19px;
  font-weight: 700;
  background: #2b1a10;
  border: 3px solid #a97a45;
  color: #ffddaa;
  border-radius: 8px;
  cursor: pointer;
  text-shadow: 0 0 6px rgba(0,0,0,0.8);
  transition: 0.25s ease;
  box-shadow: inset 0 0 12px rgba(0,0,0,0.8), 0 0 10px rgba(255,200,130,0.2);
}

header button:hover {
  background: #3a2516;
  border-color: #ffcc66;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.85), 0 0 18px rgba(255,200,120,0.5);
  transform: scale(1.08);
}

header button:active {
  transform: scale(0.92);
  background: #170e08;
  box-shadow: 0 0 20px rgba(255,50,50,0.7);
}

.user-logo {
    font-size: 40px;
    color: #d7bd8a;
    cursor: pointer;
    transition: 0.25s ease;
    border-radius: 50%;
}

.user-logo:hover {
  color: #ffcc66;
  box-shadow: 0 0 10px rgba(255, 200, 100, 0.9);
  transform: scale(1.05);
}

.user-menu {
  background-color: #d7bd8a;
  width: 120px;
  height: 160px;
  position: absolute;
  border-radius: 12px;
  top: 75px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-ava {
    color: #170e08;
    font-size: 50px;
}

.user-menu h3 {
    color: #170e08;
    font-size: 16px;
}

.user-menu p {
    color: #2b1a10;
    font-size: 8px;
    margin-bottom: 26px;
}

.log-out {
    width: 85px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3c3c;
    color: aliceblue;
    border: 3px solid #170e08;
    font-size: 16px;
}

.log-out:hover {
    width: 85px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d60000;
    color: aliceblue;
    border: 3px solid #352012;
    font-size: 16px;
    transform: scale(1.1); 
}